@page
@model IndexModel
@{
}
<style type="text/css">
	body {
		background: #C0C0C0 !important;
	}
</style>

<div class="text-center">
	<br />
	<h1 class="text-dark">@Model.PageTitle</h1>

	<br />
	<p class="text-dark">Start your pizza journey with MadisonPizzera today!</p>
	<br />

	<a asp-page="/Order/Pizza" class="btn btn-dark btn-outline-light btn-lg">Start Order</a>
</div>