@page
@model IndexModel
@{
}
<h1>@Model.PageTitle</h1>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>

	<form>
		<label for="email">Email: </label>
		<input type="email" required /> <br />
		<input type="submit" value="Submit">
	</form>

</div>
